* {
  margin: 0%;
  padding: 0%;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

/* GRID */
#grid_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 600px 80px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "nav" "article" "footer";
}

/* NAV */
nav {
  background-color: #ced8e0;
  font-size: 11rem;
  padding-top: 20px;
  display: flex;
}

.nav-item {
  margin-right: 10px;
  transition: all 0.5s;
}

.nav-item:hover {
  transform: scale(1.2);
}

.logoprincipal {
  height: 100px;
  width: 100px;
  padding-top: 30px;
}

/* TITULO */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin: 20px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* ARTICLE */
main {
  background-image: url(../img/wave.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

article {
  grid-area: article;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

article section {
  background-color: #ced8e0;
  border: solid 2px #788896;
  padding: 20px;
}

article p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

/* FOOTER */
footer {
  grid-area: footer;
  background-color: #ced8e0;
  height: 200px;
}

.imgfooter {
  height: 30px;
  width: 30px;
  transition: all 0.5s;
}

.imgfooter:hover {
  transform: scale(1.2);
}

.linkFooter {
  transition: all 0.5s;
}

.linkFooter:hover {
  transform: scale(1.2);
}

.estilofooter {
  display: flex;
  font-size: 3rem;
  justify-content: space-around;
  list-style-type: none;
  padding-top: 15px;
}

div.row {
  padding: 0%;
  margin: 0%;
  padding-right: 0;
}

div.col-sm {
  padding: 0%;
  margin: 0%;
}

div.col {
  padding: 0%;
  margin: 0%;
}

.nombres {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 10px;
  background-color: white;
  height: 3px;
  width: 110px;
  margin-left: 90px;
  margin-top: 5px;
  border: solid 1px #788896;
}

.buscadorMusicos {
  width: 500px;
  font-size: 1rem;
}

.instrumento {
  margin: 4px;
  margin-right: 15px;
}

.contactar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: all 0.5s;
}

.contactar:hover {
  transform: scale(1.2);
}

.imagenperfil {
  height: 200px;
  width: 300px;
}

.redes {
  display: flex;
  justify-content: center;
  margin: 10px;
  list-style-type: none;
  margin-right: 50px;
}

.imgredes {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  transition: all 0.5s;
}

.imgredes:hover {
  transform: scale(1.2);
}

.divBotonVerMas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  padding: 10px;
  margin-top: 15px;
}

.botonVerMas {
  background: linear-gradient(to bottom right, white, white);
  border: 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.botonVerMas:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem #ced8e0, 0.125rem 0.125rem 1rem #ced8e0;
}

.botonVerMas:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem #ced8e0, 0.125rem 0.125rem 1rem #ced8e0;
}

@media screen and (max-width: 1007px) {
  .botonVerMas {
    background: linear-gradient(to bottom right, #ced8e0, #ced8e0);
    border: 0;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }

  .botonVerMas:not([disabled]):focus {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem #ced8e0, 0.125rem 0.125rem 1rem #ced8e0;
  }

  .botonVerMas:not([disabled]):hover {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem #ced8e0, 0.125rem 0.125rem 1rem #ced8e0;
  }
}

/* IFRAME */
article.iframeArticle {
  margin-bottom: 0px;
}

.iframe {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
  margin-bottom: 0;
}

.historia {
  font-size: 2rem;
  width: 900px;
}

article.miCuenta {
  height: 400px;
}

.miCuenta {
  height: 400px;
  font-size: 3rem;
  margin: 40px;
  margin-bottom: 100px;
}

.botonIngresar {
  background: linear-gradient(to bottom right, white, white);
  border: 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-left: 110px;
}

.botonIngresar:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem white, 0.125rem 0.125rem 1rem white;
}

.botonIngresar:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem white, 0.125rem 0.125rem 1rem white;
}

.herramientasLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 30px;
}

.herramientasLoginLista {
  list-style: none;
  font-size: 3rem;
  transition: all 0.5s;
}

.herramientasLoginLista:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 900px) {
  #grid_container {
    grid-template-columns: 1fr;
    grid-template-rows: 600px 100px;
    grid-template-areas: "article" "footer";
  }

  nav {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }

  footer {
    height: 200px;
  }

  .estilofooter {
    font-size: 4rem;
    display: flex;
    margin-top: 40px;
  }

  .logoprincipal {
    height: 35px;
    width: 35px;
  }

  .imgfooter {
    height: 20px;
    width: 20px;
  }

  .copyfooter {
    display: none;
  }

  .buscadorMusicos {
    width: 300px;
    font-size: 5px;
    height: 4px;
    margin-left: 25px;
  }
}

/*# sourceMappingURL=estilos.css.map */