/* IFRAME */
article.iframeArticle {
    margin-bottom: 0px;
}

.iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 40%;
}

.historia {
    font-size: 2rem;
    width: 900px;
}
